<div class="form-field">
    <label for="book-name">Name</label>
    <input type="text" name="book-name" id="{{prefix}}-book-name">
</div>
<div class="form-field">
    <label for="book-author">Author</label>
    <input type="text" name="book-author" id="{{prefix}}-book-author">
</div>
<div class="form-field">
    <label for="book-description">Description</label>
    <textarea name="book-description" id="{{prefix}}-book-description" cols="30" rows="10"></textarea>
</div>
<div class="form-field">
    <label for="book-price">Price</label>
    <input type="number" name="book-price" id="{{prefix}}-book-price">
</div>
<div class="form-field">
    <label for="book-quantity">Quantity</label>
    <input type="number" name="book-quantity" id="{{prefix}}-book-quantity">
</div>
<div class="form-field">
    <label for="book-image">Image URL</label>
    <input type="text" name="book-image" id="{{prefix}}-book-image">
</div>
<div class="form-field">
    <button class="submit-button" id="{{prefix}}-book-submit">Submit</button>
</div>
<div class="form-field">
    <h2 class="form-response" id="{{prefix}}-book-response"></h2>
</div>