<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/book.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yaldevi:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Yaldevi:wght@300&display=swap" rel="stylesheet">
    <title>Itay's Books</title>
</head>
<body>
    <header>{{>header}}</header>
    <div id="data-container">
        <img src={{image}} id="book-img">
        <div id="book-title">
            <div id="book-name">{{bookName}}</div>
            <div id="book-author">by {{author}}</div>
            <div id="book-id">ID:{{bookID}}</div>
        </div>
        <div id="description">
            {{bookDescription}}
        </div>
        <div id="shopping">
            <div id="book-stock-data">
                <div id="book-price">
                    Price: {{price}}$
                </div>
                <div id="book-amount">
                    In stock: {{amount}}
                </div>
            </div>
            <div id="amount-to-add">
                <button id="dec-amount">-</button>
                <span id="amount"></span>
                <button id="inc-amount">+</button>
            </div>
            <div id="add-to-cart">
                <button id="add-to-cart-button">Add to cart</button>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.4/axios.min.js"></script>
    <script src="/js/book.js"></script>
    <footer>{{>footer}}</footer>
</body>
</html>