<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/book.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yaldevi:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Yaldevi:wght@300&display=swap" rel="stylesheet">
    <title>Itay's Books</title>
</head>
<body>
    <header>{{>header}}</header>
    <div id="data-container">
        <img src={{image}} id="book-img">
        <div id="title">
            <div id="book-name">{{bookName}}</div>
            <div id="book-author">by {{author}}</div>
        </div>
        <div id="stock-data">
            <div id="book-price">
                Price: 
                <sup>$</sup>
                {{price}}
            </div>
            <div id="book-amount">
                currently in stock: {{amount}}
            </div>
        </div>
    </div>

    
    <footer>{{>footer}}</footer>
</body>
</html>